body {
    margin-right: 50px;
}

a:hover {
    text-decoration: none;
}

pre {
    background: transparent;
    border-color: #4B4B4B;
    font-family: monospace;
    font-size: 10pt;
    overflow: auto;
    overflow-wrap: initial;
    white-space: pre;
}

span {
    white-space: nowrap;
}

.subtitle {
    font-size: 10pt;
    text-align: right;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    margin-top: -6px;
    margin-bottom: -2px;
}

.sourcetable {
    background: initial;
}

.source {
    border-radius: 4px;
}

.affix {
    right: 50px;
}

.input-sm {
    padding-left: 0px;
    padding-right: 0px;
}

#permalink {
    padding-top: 10px
}
