pre {
    background: initial;
    border-color: #4B4B4B;
    font-family: monospace;
    overflow: auto;
}

span {
    white-space: nowrap;
}

.sourcetable {
    background: initial;
}

.source {
    border-radius: 4px;
}
